{% extends 'admin/index.html.twig' %}

{% block title %}
    Edit Project {{project.name}}
{% endblock %}

{% block stylesheets %}
    {{parent()}}

{% endblock %}

{% block heading %}
    Edit Project {{project.name}}

{% endblock %}
{% block breadcrumb%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('admin_dashboard')}}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{path('admin_projects')}}">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">New</li>
    </ol>
{% endblock %}

{% block content%}
    {% include'admin/projects/form.html.twig' %}

{% endblock %}

{% block javascripts %}
{{parent()}}

{% endblock %}