{% block content%}
    {{form_start(form)}}
    <div class="bold">
        {{form_label(form.name)}}
    </div>
    <div class="mg-bot-15px">
        {{form_widget(form.name)}}
    </div>

    <div class="bold">
        {{form_label(form.link)}}
    </div>
    <div class="mg-bot-15px">
        {{form_widget(form.link)}}
    </div>

    <div class="bold">
        {{form_label(form.relatedLink)}}
    </div>
    <div class="mg-bot-15px">
        {{form_widget(form.relatedLink)}}
    </div>

    <div class="bold">
        {{form_label(form.description)}}
    </div>
    <div class="mg-bot-15px">
        {{form_widget(form.description)}}
    </div>
    {{form_widget(form.submit)}}

    {{form_end(form)}}
{% endblock %}