{% extends 'base.html.twig' %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('build/css/admin/sidebar.css')}}">
    <link rel="stylesheet" href="{{asset('build/css/admin/index.css')}}">
    <link rel="stylesheet" href="{{asset('build/css/admin/adminBase.css')}}">


{% endblock %}


{% block body %}

    <div class="sidebar">
        <div class="userImgContainer">
            <div class="userImg">
                <i class="fas fa-user userImgCenter"></i>
            </div>
        </div>

        {% set route = app.request.pathinfo %}

        {% if "dashboard" in route %}
            <a class="selected" href="{{path('admin_dashboard')}}">Home</a>
        {% else %}
            <a href="{{path('admin_dashboard')}}">Home</a>
        {% endif %}
        <a href="#">Users</a>

        {% if "projects" in route %}
            <a class="selected" href="{{path('admin_projects')}}">Projects</a>
        {% else %}
            <a href="{{path('admin_projects')}}">Projects</a>
        {% endif %}

    </div>
    <div class="content container-fluid">
            <div class="content-heading">
                test
                {% block heading %}

                {% endblock %}
            </div>
            <hr>


        {% block content%}
    
        {% endblock %}
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}