{% extends 'base.html.twig' %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('build/css/admin/sidebar.css')}}">
    <link rel="stylesheet" href="{{asset('build/css/admin/index.css')}}">
    <link rel="stylesheet" href="{{asset('build/css/admin/adminBase.css')}}">
    <link rel="stylesheet" href="{{asset('build/css/admin/forms.css')}}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js"></script>
{% endblock %}


{% block body %}

    <div class="sidebar">
        <div class="userImgContainer">
            <div class="userImg">
                <i class="fas fa-user userImgCenter"></i>
            </div>
        </div>

        {% set route = app.request.pathinfo %}

        {% if "dashboard" in route %}
            <a class="selected" href="{{path('admin_dashboard')}}">Home</a>
        {% else %}
            <a href="{{path('admin_dashboard')}}">Home</a>
        {% endif %}
        <a href="#">Users</a>

        {% if "projects" in route %}
            <a class="selected" href="{{path('admin_projects')}}">Projects</a>
        {% else %}
            <a href="{{path('admin_projects')}}">Projects</a>
        {% endif %}

    </div>
    <div class="content container-fluid">
            <div class="content-heading">
                {% block heading %}

                {% endblock %}

            </div>
            <nav aria-label="breadcrumb">
            {% block breadcrumb%}
            {% endblock %}
            </nav>
            <hr>


        {% block content%}
    
        {% endblock %}
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}

<script>
      $('.summernote').summernote({
        tabsize: 2,
        height: 100
      });


    $('.datepicker').datepicker({
        todayHighlight: true,
    });

</script>

{% endblock %}