{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('build/css/index/index.css')}}">

{% endblock %}

{% block body %}

    <div class="sc-center">
        <h3 class="pd-bot-10">Leopoldo A. Estévez Agra</h3>
    </div>

    <a href="#aboutMe" aria-label="Read more about me">
        <div id="arrow-wrapper" >
            <div class="arrow-border top--15em">
                <div class="arrow down">
                </div>
                <div class="pulse">
                </div>
            </div>
        </div>
    </a>

<div id="aboutMe" class="container-fluid projects">
</div>

<div class="container-fluid projects">
    <h2>{% trans %}My projects{% endtrans %}</h2>
    {% for project in projects %}
        <div class="col-12 col-md-6 col-lg-4 " >
            {% if project.imageName %}
                <div class="row pro-img" style="background-image:url('{{ asset('/uploads/projectImgs/'~project.imageName) }}')" >
            {% else %}
                <div class="row pro-img" style="background-image: linear-gradient(to bottom right, cyan, blue);" >
            {% endif %}

            <h3>{{project.name}}</h3>
            </div>

            <div class="row pro-desc" >
                {{project.description | raw}}
            </div>

            <hr>

            <div class="row " >
                <a type="button" class="pro-button btn btn-primary">Primary</a>
            </div>
        </div>

    {% endfor %}
</div>

{% endblock %}

{% block javascripts %}
{{parent()}}

{% endblock %}
