{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('build/css/index/index.css')}}">

{% endblock %}

{% block body %}

    <div class="sc-center">
        <h3 class="pd-bot-10">Leopoldo A. Estévez Agra</h3>
    </div>

    <a href="#aboutMe" aria-label="Read more about me">
        <div id="arrow-wrapper" >
            <div class="arrow-border top--15em">
                <div class="arrow down">
                </div>
                <div class="pulse">
                </div>
            </div>
        </div>
    </a>
<div class="conteiner-fluid projects">
    {% set counter = 0 %}

    {% for project in projects %}
    <div class="row project-row">
        {% if counter % 2 == 0 %}

            <div class="col-8 project-title">
                <div class="v-align-mid">
                    {{project.name}}
                </div>
            </div>
            <div class="col-8">
                    {{project.description | raw}}
            </div>

        {% else %}
            <div class="col-8">
                {{project.description | raw}}
            </div>
            <div class="col-4">
                {{project.name| raw}}
            </div>

        {% endif %}

        {#
        {% if project.imageName %}
            <img src="{{ vich_uploader_asset(project, 'imageFile')}}" alt="img {{project.name}}"/>
        {% endif %}
        #}


        {% set counter = counter + 1  %}
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block javascripts %}
{{parent()}}

{% endblock %}
