{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{asset('build/css/index/index.css')}}">

{% endblock %}

{% block body %}

    {# Main heading of the page #}

    <div class="sc-center">
        <h3 class="pd-bot-10">Leopoldo A. Estévez Agra</h3>
    </div>

    <a href="#aboutMe" aria-label="Read more about me">
        <div id="arrow-wrapper">
            <div class="arrow-border top--15em">
                <div class="arrow down">
                </div>
                <div class="pulse">
                </div>
            </div>
        </div>
    </a>

    {# About me section #}

    <div id="aboutMe" class="container-fluid projects">
        <div class="row">

            <div class="d-none d-md-block col-4">
                {# Here goes a decent photo of me #}
            </div>

            <div class="col-12 col-md-8">
                {# Description of what I do #}

            </div>
        </div>
    </div>

    {# Proyects display section #}

    <div class="container-fluid projects">
        <div class="heading-titles">My projects</div>
        {% for project in projects %}
            <div class="col-12 col-md-6 col-lg-4 ">
                {% if project.imageName %}
                    <div class="row pro-img" style="background-image:url('{{ asset('/uploads/projectImgs/'~project.imageName) }}')">
                        <h3>{{project.name}}</h3>
                    </div>
                {% else %}
                    <div class="row pro-img" style="background-image: linear-gradient(to bottom right, cyan, blue);">
                        <h3>{{project.name}}</h3>
                    </div>
                {% endif %}

                <div class="row pro-desc">
                    {{project.description | raw}}
                </div>
                <div class="row font-white">
                    <a type="button" class="pro-button btn btn-primary ">
                        Go
                    </a>
                </div>
            </div>

        {% endfor %}
    </div>

    {# My social media / Contact with me #}

    <div class="heading-titles h-alight-mid">Contact</div>
    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 bussines-card">
                {# List of my social media + linkdin QR #}


            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}
